<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email id</th>
        <th>Phone number</th>
        <th>Gender</th>
        <th>Date of birth</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let item of d'>
        <td>{{item.first_name}}</td>
        <td>{{item.last_name}}</td>
        <td>{{item.email_id}}</td>
        <td>{{item.phone_no}}</td>
        <td>{{item.gender}}</td>
        <td>{{item.date_of_birth}}</td>
        <td>
          <a href="#" data-toggle="modal" data-target="#myModal" (click)="viewdetails(item)">
            <span class="glyphicon glyphicon-eye-open"></span>
          </a>
          <a href="javascript:void(0)" (click)="deletedetails(item)" onclick='location.reload()'>
            <span class="glyphicon glyphicon-trash"></span>
          </a>
          <a href="#" data-toggle="modal" data-target="#myModal1" (click)="viewdetails(item)">
            <span class="glyphicon glyphicon-refresh"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <!-- <button type="button" class="btn btn-success" (click)="fetchDetails()">Fetch Details</button> -->
</div>


<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="uname1">First name</label>
            <input name="first_name" [(ngModel)]="details.first_name" class="form-control" disabled>
          </div>
          <div class="form-group">
            <label>Last name</label>
            <input name="last_name" [(ngModel)]="details.last_name" class="form-control" disabled>
          </div>
          <div class="form-group">
            <label>Email id</label>
            <input name="email_id" [(ngModel)]="details.email_id" class="form-control" disabled>
          </div>
          <div class="form-group">
            <label>Phone number</label>
            <input name="phone_no" [(ngModel)]="details.phone_no" class="form-control" disabled>
          </div>
          <div class="form-group">
            <label>Gender</label>
            <input name="gender" [(ngModel)]="details.gender" class="form-control" disabled>
          </div>
          <div class="form-group">
            <label>Date of birth</label>
            <input name="date_of_birth" [(ngModel)]="details.date_of_birth" class="form-control" disabled>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="uname1">First name</label>
            <input name="first_name" [(ngModel)]="details.first_name" class="form-control">
          </div>
          <div class="form-group">
            <label>Last name</label>
            <input name="last_name" [(ngModel)]="details.last_name" class="form-control">
          </div>
          <div class="form-group">
            <label>Email id</label>
            <input name="email_id" [(ngModel)]="details.email_id" class="form-control" disabled>
          </div>
          <div class="form-group">
            <label>Phone number</label>
            <input name="phone_no" [(ngModel)]="details.phone_no" class="form-control">
          </div>
          <div class="form-group">
            <label>Gender</label>
            <input name="gender" [(ngModel)]="details.gender" class="form-control">
          </div>
          <div class="form-group">
            <label>Date of birth</label>
            <input name="date_of_birth" [(ngModel)]="details.date_of_birth" class="form-control">
          </div>
          <!-- <p>{{details.date_of_birth | date:'shortDate'}}</p> -->
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-success btn-lg" (click)="updatedetails()" data-dismiss="modal" onclick="window.location.reload()">Save</button>
          <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
