<div class="container">
  <div>
    <h2 class="text-center">Please enter the details below</h2>
    <form style="margin-left: 212px;
    margin-right: 186px;">
      <div class="form-group">
        <label for="uname1">First name</label>
        <input type="text" name="first_name" [(ngModel)]="details.first_name" class="form-control" >
      </div>
      <div class="form-group">
        <label>Last name</label>
        <input type="text"  name="last_name" [(ngModel)]="details.last_name" class="form-control" >
      </div>
      <div class="form-group">
        <label>Email id</label>
        <input type="email"  name="email_id" [(ngModel)]="details.email_id" class="form-control" >
      </div>
      <div class="form-group">
        <label>Phone number</label>
        <input type="number"  name="phone_no" [(ngModel)]="details.phone_no" class="form-control" >
      </div>
      <div class="form-group">
        <label>Gender</label>
        <input type="text"  name="gender" [(ngModel)]="details.gender" class="form-control" >
      </div>
      <div class="form-group">
        <label>Date of birth</label>
        <input type="date"  name="date_of_birth" [(ngModel)]="details.date_of_birth" class="form-control" >
      </div>
      <button type="button" class="btn btn-success btn-lg " (click)='clickSubmit()'>Submit</button>
      <button type="button" class="btn btn-success btn-lg" style="margin-left: 40px;" routerLink="/getdetails">Get Details</button>
    </form>
  </div>
</div>
